<h3 class="hometitle">Weather Information</h3>
<div class="homebody">
<ul>
	<li class="homebody_list"><a href="/omaha">Omaha</a></li>
	<li class="homebody_list"><a href="/sanfran">San Francisco</a></li>
	<li class="homebody_list"><a href="mumbai">Mumbai</a></li>
</ul>
</div>